_site/*


Thumbs.db
.DS_Store
.rbenv-version
.bundle
vendor/bundle/ruby
bin/
LOG.sh


_*.html
_*.md
_*.css

[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]/_LOG.sh
[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]/*.tiff
[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]/*.png
[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]/*.gif

