<!doctype html>
<!-- !doctype html public "-//W3C//DTD HTML 4.0 Transitional //EN"> -->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf8" /> 
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author"  content="{{ site.author.name }}"/>

    <!-- 2011-03-21 START CUSTOM HEADER -->

    <!-- Stylesheet: Pygments -->
    <link href='/css/pygments.css' type='text/css' rel='stylesheet'/>

    <!-- Stylesheet: Homepage -->
    <link href='/css/style-combined.css' type='text/css' rel='stylesheet'/>

    <!-- MATHJAX hosted CDN.MATHJAX.ORG -->
    <script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'> MathJax.Hub.Config({ extensions: ["tex2jax.js","MathMenu.js","MathZoom.js"], jax: ["input/TeX","output/HTML-CSS"], tex2jax: {inlineMath: [["\\(","\\)"]], skipTags: ["script","noscript","style","textarea","pre"], processEnvironments: true}, TeX: { extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"] } }); </script>

    <!-- GOOGLEAPIS hosted JQUERY.MIN -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <!-- DAYTIME/NIGHTTIME JAVASCRIPT -->
    <script language="javascript">//<![CDATA[ 
      $(document).ready(function(){
        // Display day mode between 7am and 8pm 
        var currentTime = new Date().getHours();
        if (7 <= currentTime && currentTime < 19) {
          $(".todoaction,.ideaaction,.bugaction,.doneaction,body,h1,h2,h3,h4,h5,h6,a,a.missing-wiki-link,th,blockquote,code").addClass("day");
          } else {
          $(".todoaction,.ideaaction,.bugaction,.doneaction,body,h1,h2,h3,h4,h5,h6,a,a.missing-wiki-link,th,blockquote,code").addClass("night");
        }
        $("button#daynight").click(function(){
          $(".todoaction,.ideaaction,.bugaction,.doneaction,body,h1,h2,h3,h4,h5,h6,a,a.missing-wiki-link,th,blockquote,code").toggleClass("day");
          $(".todoaction,.ideaaction,.bugaction .doneaction,body,h1,h2,h3,h4,h5,h6,a,a.missing-wiki-link,th,blockquote,code").toggleClass("night");
        });
      });
      //]]></script>
    <!-- 2011-03-21 END CUSTOM HEADER -->
  </head>
  <body>
    <!-- START BODY -->
    <div class="site">
      <div class="title">
        <a href="/">{{ site.title }}</a>
        <a class="extra" href="/">home</a>
        <button id="daynight">Day/Night</button>
        <span class="tiny">[<a href="/about.html">About</a>]</span>
      </div>

      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <div class="contact">
          <p>
          by {{ site.author.name }}
          </p>
        </div>
        <div class="contact">
          <p>
          <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
          <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a>
          </p>
        </div>
      </div>
    </div> <!-- site -->

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics.google.tracking_id }}']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
     <!-- Google Analytics end -->

     <!-- END BODY -->
   </body>
 </html>

